.header {
    background-color: DarkCyan;
    padding: 7px 7px 13px 7px;
    color: white;
}

.header_title {
    padding: 0px 15px 0px 15px;
    font-size: 20px;
    border-right: 1px solid white;
    display: inline-block;
}

.header_icon {
    background-color: MediumSlateBlue; 
    margin: 0px 0px 0px 20px;
    padding: 5px 7px 10px 7px;
    border-radius: 30px;
}

.header_icon:hover {
    background-color: SlateBlue; 
}

.header_icon:active {
    background-color: Indigo; 
}

/* .widget_cell_grid_div {
    background-color: Grey; 
    border-radius: 5px; 
} */

.widget_cell_grid_div_label {
    background-color: white; 
    border-radius: 5px; 
    text-align: center;
    padding-bottom: 1px;
}

.widget_cell_grid_div_graph {
    background-color: white; 
    border-radius: 5px; 
    text-align: center;
    padding: 1px;
}

.widget_cell_grid_div_table {
    background-color: DarkSlateGray; 
    border-radius: 5px; 
    text-align: center;
    padding: 5px;
}

.widget_cell_grid {
    padding: 5px;
}

.filter_label {
    font-size: 12px;
    font-weight: bold;
}

/* .filter_dropdown {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
} */
